body{
    background-color: #FFEBB4;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 350px;
    font-family: cursive;
    margin: 10px;
    }

header {
    width: 100%;
    display: flex;
    font-size: 25px;
    background-color: #FFACAC;
    height: 32px;  
    justify-content:space-around ;

    
}
nav{
    display: flex;
    column-gap: 500px;
}

nav a{
    text-decoration: none;
    color: black;

}

main{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

}
footer{
    display: flex;
    background-color: #FFACAC;
    column-gap: 60%;
    justify-content: space-around;
}

footer p{
align-self: center;
}
footer img{
    width: 50px;
}